.default-bar {
  border: 1px solid #454444;
  fill: #fff;
  stroke: #454444;
  stroke-width: 0.5;
}

.progress-bar {
  fill: #d7d7d7;
}

.task-name {
  fill: #454444;
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
